header {
    width: 1103.41px;
    height: 29.46px;
    top: 35.02px;
    left: 171.59px;
    padding: 0px;
    gap: 0px;
    opacity: 0px;
}
#Quote {
    width: 1440px;
    height: 392px;
    top: 1093px;
    left: -1px;
    gap: 0px;
    opacity: 0px;

}
#Tutorial {
    width: 1228px;
    height: 450px;
    top: 1572px;
    left: 106px;
    gap: 0px;
    opacity: 0px;
}
#Membership {
    width: 1440px;
    height: 502px;
    top: 2109px;
    gap: 0px;
    opacity: 0px;

}
#FAQ {
    width: 920px;
    height: 707px;
    top: 2678px;
    left: 249px;
    gap: 0px;
    opacity: 0px;

}

footer {
    width: 1440px;
    height: 249px;
    top: 3469px;
    gap: 0px;
    opacity: 0px;
 }
